.app-header {
    background-color: $clr1;
    color: $clr1bg;
    padding: 1em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
    
    .app-nav {
        display: flex;
        gap: 35px;
        font-weight: 400;
    }

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
    }
}

@media(max-width: 720px) {
    .app-header {
        color: $clr2bg;
    }
}