.filter-container {
    background-color: none;
    padding: 15px 0;

    .campaign-filters {
        width: fit-content;
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-top: 15px;
        align-items: center;
        justify-content: center;
    }

}