.campaign-table {
    max-width: max-content;
    border: $border;
    border-collapse: collapse;
    border-radius: $table-border-raduis;
    border-style: hidden;
    background-color: #ffff;

    th {
        font-weight: 500;
        background-color: $table-header-bg;
        box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
        text-align: left;
        width: fit-content;

        &:last-child {
            border-top-right-radius: $table-border-raduis;
        }

        &:first-child {
            border-top-left-radius: $table-border-raduis;
        }
    }

    tr>td {
        border-bottom: $border;
        color: $main-text-color;
        text-align: left;

        &:nth-child(3) {
            text-align: center;
        }
    }

    th {
        padding: 15px;
    }

    td {
        padding: 5px 6px;
    }
}

.campaign-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
    gap: 15px;
}