.campaign-preview {

    .img-container {
        width: 80%;
        height: 80px;
        overflow: hidden;
        cursor: pointer;

        .campaign-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            justify-self: center;
        }
    }


    .details-btn {
        background-color: #15b79f;
        @include color-variations(#51b8a8);
    }

    .edit-btn {
        background-color: #fb9c0c;
        @include color-variations(#d1aa6f);
    }

    .remove-btn {
        background-color: #f04438;
        @include color-variations(#d4726f);
    }

    .action-btn {
        border-radius: 100px;
        color: #ffff;
        cursor: pointer;
        display: inline-block;
        font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: 0;
        font-size: 0.8rem;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }










}



// @include for-mobile-layout {
//     padding: 15px 0 0;
//     list-style: none;
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
//     grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
//     gap: 15px;

//     .img-container {
//         width: 80%;
//         height: 100%;
//         display: flex;
//         justify-content: center;
//     }

//     .campaign-img {
//         max-width: 100%;
//         max-height: 200px;
//         width: auto;
//         height: auto;
//         overflow: hidden;
//         object-fit: contain;
//         align-self: center;
//         justify-content: center;

//         &:hover {
//             border-radius: 10px;
//             box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//             transform: scale(1.05);
//             transition: transform 0.3s ease;
//         }
//     }

//     .campaign-preview {
//         text-align: center;
//         padding: 0.3em;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         background-color: $clr1bg;
//         margin: 0.5em;
//         gap: 10px;
//         border-radius: 10px;
//         color: black;

//         h4 {
//             text-transform: capitalize;
//             color: black;
//         }

//     }

//     .map-button {
//         z-index: 10;
//     }

//     .leaflet-container {
//         z-index: 2;
//     }
// }