.campaign-preview {
    .img-container {
        width: 80%;
        height: 80px;
        overflow: hidden;
        cursor: pointer;

        .campaign-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            justify-self: center;
        }
    }

    .details-btn {
        background-color: #15b79f;
        @include color-variations(#51b8a8);
    }

    .edit-btn {
        background-color: #fb9c0c;
        @include color-variations(#d1aa6f);
    }

    .remove-btn {
        background-color: #f04438;
        @include color-variations(#d4726f);
    }

    .action-btn {
        border-radius: 100px;
        color: #ffff;
        cursor: pointer;
        display: inline-block;
        font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: 0;
        font-size: 0.8rem;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
}

