.campaign-table {
    max-width: max-content;
    border: $border;
    border-collapse: collapse;
    border-radius: $table-border-raduis;
    border-style: hidden;
    box-shadow: 0 0 0 1px $border-color;
    text-align: center;

    th {
        font-weight: 500;
        text-align: center;
        background-color: rgb(236 230 230 / 49%);

        &:last-child {
            border-top-right-radius: $table-border-raduis;
        }

        &:first-child {
            border-top-left-radius: $table-border-raduis;
        }
    }


    tr {
        border-bottom: $border;
    }

    th,
    td {
        padding: 15px;
    }


}

.campaign-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    /* Set the max height to 200 pixels */
    grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
    /* Set the max height to 200 pixels */
    gap: 15px;
}