.campaign-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;

    h1 {
        font-size: 2em;
    }

    h5 {
        color: $clr2;
    }

    img {
        max-width: 70%;
        display: block;
        margin: auto;
    }

}
