$main-text-color: #667085;
$clr1:  rgb(86 96 82 / 18%);
$clr2: rgb(120, 99, 110);
$clr1bg: rgb(101 106 99);
$clr1bg-light: rgb(205, 221, 200);
$clr2bg: rgb(82, 176, 230);
$clr2bg-light: rgb(253, 236, 246);

$gray1: rgb(240, 240, 240);
$gray2: rgb(155, 155, 155);
$gray3: rgb(44, 44, 44);
$border-color: #00000036;
$border: 1px solid $border-color;
$table-border-raduis: 12px;
$table-header-bg: #342f2f38;