* {
  box-sizing: border-box;
}

html {}

body {
  margin: 0;
  background-color: rgb(199 187 187 / 38%);
  color: $main-text-color;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5em 0 .5em;
  font-family: Roboto, sans-serif;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

img,
embed,
video,
object {
  max-width: 100%;
}

.debug * {
  outline: 1px solid gold;
}

.about {
  nav {
    a {
      margin-right: 10px;
    }
  }
}
