.main-layout {
    display: grid;
    grid-template-columns: minmax(120px, 1fr) minmax(auto, 1920px) minmax(120px, 1fr);

    >* {
        grid-column: 2;
    }

    .full {
        grid-column: 1/-1;
    }

    .container {
        max-width: 800px;
        padding: 1em;
        margin: auto;
    }
}


.main-section {
    margin-bottom: 150px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $clr1;
    color: $clr1bg;
    text-align: center;
    z-index: 2;
    background-color: rgba(255, 255, 255, 1);

    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}